:host {
  display: block;
}

* {
overflow-wrap:hyphenate.
}

#info {
	display: table;
	margin: 0 auto;
  box-shadow: 0 0 3px 5px #999;
  word-break: break-all;
}

.is-charging {
  animation: isCharging 1s infinite alternate;
}

.is-disCharging {
  animation: disCharging 1s infinite alternate;
}

@keyframes isCharging {
  to {
    box-shadow: #99ca3b 0 0 30px 10px;
  }
}

@keyframes disCharging {
  to {
    box-shadow: red 0 0 30px 10px;
  }
}